body {
  font-family: courier;
}
h2 {
  font-size: 3rem;
  text-align: center;
}
.main-title a {
  color: green;
  text-decoration: none;
  font-size: 66px;
}
.main-title {
  text-align: center;
}
.user-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: solid 2px green;

}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.user-profile-header {
  color: white;
}
.user-container{
  display: flex;
  width: 30vw;
  justify-content: center;
  flex-direction: column;
  background: green;
  padding: 5vh 15vh 0 15vh;
  padding-bottom: 0;
  margin-top: 1vh;
  margin-left: 55vh;
  margin-bottom: 10vh;
  border-radius: 3%;
}
button {
  cursor: pointer;
  background-color: navy;
  color: white;
  font-size: 100%;
  height: auto;
  padding: 20px 32px;
  margin: 1vh 1vh;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  justify-content: center;
}
.comment-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px green solid;
}
.country-container {
  margin: 0 50% 0 40%;
  margin-bottom: 1.5vh;
  justify-content: center;
}
.comment-button {
  cursor: pointer;
  background-color: navy;
  border: none;
  color: white;
  font-size: 100%;
  height: auto;
  padding: 20px 32px;
  margin: 1vh 1vh;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  justify-content: center;
}
.blog-button {
  cursor: pointer;
  background-color: navy;
  border: none;
  color: white;
  font-size: 100%;
  height: auto;
  padding: 20px 32px;
  margin: 1vh 1vh;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  justify-content: center;
}
.blog-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px green solid;
}
.blog-title {
  text-align: center;
  font-size: 20px;
}
.blog-header {
  font-size: 26px;
}
.blog-body {
  text-align: center;
  font-size: 20px
}
.blog-page-title {
  font-weight: bold;
}
.country-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.comment-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px green solid;
}
.blog-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px green solid;
}
.country-comments-page-container {
  float: left;
  width: 50%;
  margin: auto;
  text-align: center;
}
.country-blogs-page-container {
  float: right;
  width: 50%;
  margin: auto;
  text-align: center;
}

.blog-comments-container {
  display: flex;
  flex-direction: row-reverse;
}
.logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer {
  position: fixed;
  bottom: 0vh;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: navy;
  z-index: 2;
  border-top: black;
}
.footer a {
  text-decoration: none;
  text-align: center;
  color: white;
  margin: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
  .main-title a {
    color: green;
    text-decoration: none;
    font-size: 44px;
  }
  .main-title {
    text-align: center;
  }
  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .country-blogs-page-container button {
    cursor: pointer;
    background-color: navy;
    color: white;
    font-size: 12px;
    height: auto;
    width: auto;
    padding: 20px 32px;
    margin: 1vh 1vh;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
  }
  .country-comments-page-container button {
    cursor: pointer;
    background-color: navy;
    color: white;
    font-size: 8px;
    height: auto;
    width: auto;
    padding: 20px 32px;
    margin: 1vh 1vh;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
  }
  .user-container{
    display: flex;
    width: 30vw;
    justify-content: center;
    flex-direction: column;
    background: green;
    padding: 5vh 15vh 0 15vh;
    padding-bottom: 0;
    margin-top: 1vh;
    margin-left: 5vh;
    margin-right: 15vh;
    margin-bottom: 10vh;
    border-radius: 3%;
  }
  .comment-form {
    width: 70%;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: 6px auto;
    border-radius: 20px;
    border: 3px green solid;
    margin-bottom: 10vh;
  }
  .blog-header {
    font-size: 18px;
  }
  .blog-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: 6px auto;
    margin-top: 10vh;
    border-radius: 20px;
    border: 3px green solid;
  }
  .country-comments-page-container {
    float: left;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .footer {
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: navy;
    z-index: 2;
    border-top: black;
  }
  .footer a {
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: bolder;
    font-size: 1.25rem;
  }
}
