body {
  font-family: courier;
}
.main-title a {
  color: green;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0vh;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: navy;
  z-index: 2;
  border-top: black;
}
.footer a {
  text-decoration: none;
  text-align: center;
  color: white;
  margin: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
}
