body {
  font-family: courier;
}
h2 {
  font-size: 3rem;
  text-align: center;
}
.main-title a {
  color: green;
  text-decoration: none;
  font-size: 66px;
}
.main-title {
  text-align: center;
}
button {
  cursor: pointer;
  background-color: blue;
  color: white;
  font-size: 100%;
  height: auto;
  padding: 20px 32px;
  margin: 1vh 1vh;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  justify-content: center;
}
.comment-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px green solid;
}
.contact-container {
  display: block;
  margin-left: 200px;
  position: fixed;
  width: 50vw;
  bottom: 40vh;
  margin: auto 25vw;
  justify-content: center;
  border-radius: 20px;
  border: 3px green solid;
  background-color: blue;
}
.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
}
.contact-header {
  color: white;
}
.country-container {
    margin: 0 50% 0 40%;
    margin-bottom: 1.5vh;
    justify-content: center;
}
.comment-button {
  cursor: pointer;
  background-color: blue;
  border: none;
  color: white;
  font-size: 100%;
  height: auto;
  padding: 20px 32px;
  margin: 1vh 1vh;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  justify-content: center;
}
.blog-button {
  cursor: pointer;
  background-color: blue;
  border: none;
  color: white;
  font-size: 100%;
  height: auto;
  padding: 20px 32px;
  margin: 1vh 1vh;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  justify-content: center;
}
.blog-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px green solid;
}
.blog-title {
  text-align: center;
  font-size: 20px;
}
.blog-header {
  font-size: 26px;
}
.blog-body {
  text-align: center;
  font-size: 20px
}
.blog-page-title {
  font-weight: bold;
}
.country-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.comment-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px green solid;
}
.blog-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px green solid;
}
.country-comments-page-container {
  float: left;
  width: 50%;
  margin: auto;
  text-align: center;
}
.country-blogs-page-container {
  float: right;
  width: 50%;
  margin: auto;
  text-align: center;
}

.blog-comments-container {
  display: flex;
  flex-direction: row-reverse;
}
.footer {
  position: fixed;
  bottom: 0vh;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: navy;
  z-index: 2;
  border-top: black;
}
.footer a {
  text-decoration: none;
  text-align: center;
  color: white;
  margin: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
}
